body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  flex: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid gray;
  border-radius: 8px 0 0 8px;
}

.header button {
  width: 70px;
  height: 87px;
  padding-left: 10px;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.task {
  display: flex;
  width: 500px;
  height: 50px;
  margin: 15px;
  color: black;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background-color: rgb(230, 114, 19);
  border: 1px solid rgb(255, 248, 236);
  border-right: none;
}

.task button {
  flex: 20%;
  height: 100%;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}